<html>
<title>留言板</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <div id="app">
        <li v-for="msg in msgs">
            <!-- {{new Date(msg[0]+ 8 * 3600 * 1000).toJSON()}}:{{msg[1]}} -->
            <!-- new Date(parseInt(msg[0]) * 1000 + 8 * 3600 * 1000) -->
            {{new Date(parseInt(msg[0]) * 1000 + 8 * 3600 * 1000).toJSON().replace('T', ' ').substr(0, 19)}}:{{msg[1]}}
        </li>
    </div>
    <textarea id="msg"></textarea>
    <br />
    <input type="button" value="提交" onclick="submit()" />
    <script>
        const url = 'ws://119.91.116.26:9002';
        var websocket = new WebSocket(url);
        var app = new Vue({
            el: '#app',
            data: {
                msgs: [[1, 'Hello Vue!'], [2, 'hei']]
            }
        })
        websocket.onopen = () => {
            // alert('open!');
        }
        websocket.onmessage = function (evt) {
            var ob = JSON.parse(evt.data);
            app.msgs = ob;
        }
        websocket.onerror = function (evt) {
            // alert('连接' + url + '失败');
        }
        function submit() {
            var input = document.getElementById("msg");
            var msg = input.value;
            input.value = '';
            if (msg != '') {
                websocket.send(msg);
            } else {
                alert('不能为空')
            }
        }
        function time(time = +new Date()) {
            var date = new Date(time + 8 * 3600 * 1000); // 增加8小时
            return date.toJSON().substr(0, 19).replace('T', ' ');
        }
    </script>
</body>

</html>